#show_div{
    background-color: rgb(116, 157, 193);
    font-size: 100px;
    border-radius: 8px;
    text-align: center;
    
}
#game_div{
    
    background-color: rgb(116, 157, 193);
    width: 600px;
    height: 600px;
    font-size: 6em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 8px;
    
    
}
#player_input{
    border-radius: 8px;
    font-size: 35px;
    border-color: aliceblue;
}
#Submit_btn{
    font-size: 35px;
    border-radius: 8px ;
    border-color: aliceblue;
}
#outer-game-div{
    padding: 20px;

}
body{
    align-items: center;
    font-family: Arial;
    background-color: rgb(75, 126, 161);
    
}